---
// library imports
import { Image } from "@astrojs/image/components";

// component imports
import Button from "./Button.astro";
import Hamburger from "./Hamburger.astro";
import NavMob from "./NavMob.astro";

// data imports
import navData from "../data/navData";

// image imports
import Logo from "../images/logo.png";
---

<nav aria-label="Primary" class="relative">
  <NavMob />
  <div
    class="navbar container mx-auto px-6 sm:px-8 py-2 flex justify-between items-center"
  >
    <a href="/" aria-label="Ir a página principal">
      <Image src={Logo} alt="Logotipo" width={150} format="avif" />
    </a>
    <ul class="hidden md:flex gap-x-6 text-lg">
      {
        navData.map((item) => (
          <li>
            <Button
              text={item.name}
              href={item.path}
              style="primary"
              isFilled={false}
              data-navLink
              classes="hover:text-stone-600"
            />
          </li>
        ))
      }
      <li>
        <Button
          text="Contacto"
          href="#contacto"
          style="primary"
          isFilled={false}
          data-navLink
          classes="rounded-md text-white font-bold bg-cyan-400 hover:bg-sky-800 transition duration-300 py-2 px-6"
        />
      </li>
    </ul>
    <Hamburger client:visible />
  </div>
</nav>

<script>
  import "../js/nav.js";
</script>
