---
// layout imports
import Head from "./Head.astro";

// component imports
import Nav from "../components/Nav.astro";
import Footer from "../components/Footer.astro";

const {
  title = "Comercialización Profesional",
  description = "Nuestros productos están garantizados y aprobados por las disposiciones sanitarias de cada país. Tenemos tratos comerciales con los mejores distribuidores.",
  image,
  frontmatter,
  robots,
} = Astro.props;
---

<!DOCTYPE html>
<html lang="es" class="scroll-smooth">
  <Head {title} {description} {image} {frontmatter} {robots} />
  <body>
    <!-- Google Tag Manager (noscript) -->
    <noscript>
      <iframe
        src="https://www.googletagmanager.com/ns.html?id=GTM-N8ZDNKG"
        height="0"
        width="0"
        style="display:none;visibility:hidden"
      >
      </iframe>
    </noscript>
    <!-- End Google Tag Manager (noscript) -->
    <Nav />
    <main>
      <slot />
    </main>
    <Footer />
  </body>
</html>
